:root {
    --main-color: #1B5299;
    --secondary-color: #53687E;
    --transparent: #53687e48;
  }
  body{
    font-family: 'Poppins', sans-serif;
  }
  nav .title {
    color: var(--main-color);
  }
  .header-date{
    color: var(--secondary-color);
    font-size: .7rem !important;
  }
  h1, form label, .history-item-budget{
    color: var(--main-color);
    font-weight: bold ;
  }
  #balance + span{
    color: var(--secondary-color);
  }
  .card{
    border: none;
    background-color: var(--transparent);
    color: var(--main-color);
  }
  .button{
   
    font-size: .8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--main-color);

  }
  .btn{
    width: 100px;
    height: 100px;
    background-color: var(--transparent);
    color: var(--main-color);
    border-radius: 5px;
    cursor: pointer;
  }
  .btn i {
    font-size: 3rem;
    
  }
  h5{
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
  }
  /* form label{
    color: var(--main-color);
  } */
  #addBudgetSection form input, #expensesSection form input{
    border-bottom: 1px solid var(--main-color);
    color: var(--secondary-color);

}


  #addBudgetSection form .btn, #expensesSection form .btn{
    width: 100px;
    height: 40px;
    font-size: 1rem;
    font-weight: bold;
  }
  .history-item-concept{
    color: var(--secondary-color);
  }
  /* .history-item-budget{
    color: var(--main-color);
    font-weight: bold;
  } */